<!DOCTYPE html>

{% load staticfiles %} <!-- New line 这让我们可以使用static template tag 也就是img src里面的 -->

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <h2>Most Liked Categories</h2>
        <div>
        {% if categories %}
            
            <ul>
            {% for category in categories %}<!--语法还不是很清楚-->
                <!--<li>{{ category.name }}</li> 为什么循环里是一个括号，这里是两个括号，因为两层花括号就是匹配变量？ -->
                <!-- The following line is changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></li>   
            {% endfor %}
            </ul>
         {% else %}
              <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <h2>Most Viewed Pages</h2>
        <div>
            {% if pages %}
            
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}  
        </div>>

        <div>
            <a href="/rango/about/">About</a><br />
            <a href="/rango/add_category/">Add a New Category</a><br />

            <img src="{% static 'images/rango.jpg' %}"
            alt="Picture of Rango" /> <!-- New line -->

            
        </div>
        <div>
            
        </div>
    </body>
</html>